@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Baloo 2', cursive;
   background-color: rgba(125, 228, 228, 0.89);
}
.heading{
    font-weight: bolder;
    color: rgb(1, 44, 73);
    margin-top: 15px;
    font-size: 50px;
    padding-bottom: 30px;
    text-shadow: 2px 2px 3px rgba(7, 7, 7, 0.623);;
}
input[type="text"]{
    border: 2px solid rgba(146, 144, 144, 0.911);
    border-radius: 7px;
    outline: none;
    margin-top: 10px;
    width: 700px;
    height: 8vh;
    font-size: 1.2em;
    padding: 4px;
}
input[type="text"]:focus{
   border: 2px solid rgb(1, 44, 73);
   box-shadow: 1px 1px 5px rgba(7, 7, 7, 0.377);
}
.search-btn {
    border: none;
    margin-top:45px;
    height: 7vh;
    width: 250px;
    padding: 3px;
    font-size: 28px;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.233);
    background-image: linear-gradient(-45deg,rgba(161, 245, 245, 0.835),rgba(111, 175, 175, 0.945));
}
.search-btn:hover {
    height: 6.8vh;
    width: 247px;
    padding: 1px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.233);
}
.hero{
    margin-top : 25px;
    border:3px groove black;
    padding: 4px;
    width : 380px;
    height : 380px;
    border-radius: 50%;
}
.name{
    margin-top: 4px;
    font-size: 25px;
    text-decoration-line: underline;
    color: black;
}
